/*
 * Kenny "Ackerson" Le
 * CSE 154 AF, Winter 2022
 * TA: Ludvig Liljenberg, Marina Wooden
 * 2/25/22
 * Creative Project #4:
 * Description: Stylesheet for vacine appointment finder. Style
 * consists of a simplistic dark blue theme with light blue and
 * green highlights and white text.
 */

html,
body {
  font-size: 18px;
}

html,
body,
#tabs,
#banner h1 {
  margin: 0;
}

body {
  font-family: "Inter", "Helvetica", sans-serif;
  background: #191b25;
}

h1 {
  font-size: 3rem;
  margin: 15px 0;
  justify-content: center;
}

h1,
td,
#tabs {
  display: flex;

}

li {
  list-style-type: none;
}

.tab-panel {
  padding: 30px 20px;
}

.tab,
.tab-panel,
.tab p {
  position: relative;
}

#tabs {
  flex-flow: row nowrap;
  padding: 0 0 30px 0;
}

#tabs li {
  width: 20%;
}

.tab {
  background: #f7f7f7;
  padding: 2px 0;
  border-left: 3px solid #191b25;
  border-right: 3px solid #191b25;
  cursor: pointer;
}

.tab,
#warning p {
  text-align: center;
}

.tab.active {
  background: #0079C2;
}

.tab.active,
.tab.active:after,
.tab-content.active,
#warning.active {
  display: block;
}

.tab.active:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -15px;
  background-color: #0079C2;
  border: none;
}

.tab p {
  color: #191b25;
  z-index: 2;
}

body,
.tab.active p,
.tab.active:hover p {
  color: #fafafa;
}

.tab-content,
#warning {
  display: none;
}

td,
#top-copy {
  padding-bottom: 15px;
}

.container {
  padding: 2rem 6rem;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  min-height: 72vh;
}

input, select, button {
  padding: 10px 12px;
  border: 1px solid #555;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #32cb8b;
  color: #fff;
}

td {
  flex-flow: column nowrap;
}

#warning p {
  color: red;
}